#savedDog, #sidebar, #content {
    border: 2px solid black;
}

#sidebar {
    grid-column: 1;
}

#content {
    grid-column: 2;
}

body {
    margin: 0;
    grid-template-columns: 400px auto;
    grid-template-rows: calc(100vh - 4px);
    display: grid;
}

#savedDog {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2px);
    height: 35vh;
    filter: brightness(50%);
}

#titleText {
    font-size: 3rem;
    position: absolute;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
    width: 400px;
    height: 35vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

#filtersHolder {
    display: flex;
    flex-direction: column;
}

#filtersHolder > h2 {
    margin: 15px;
}

li {
    list-style: none;
}

@media screen and (width <=1000px) {
    #sidebar {
        grid-row: 1;
    }

    #content {
        grid-row: 2;
        grid-column: 1;
    }

    body {
        grid-template-columns: 100vw;
        grid-template-rows: auto auto;
        display: grid;
    }

    #savedDog {
        height: 40vh;
    }

    #titleText {
        width: 100%;
        height: 40vh;
    }
}