body {
    display: grid;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
    border: 1px solid black;
}

#sidebar {
    grid-column: 1;
    border-right: 10px solid black;
}

#grid {
    grid-column: 2;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 90vh;
    height: 90vh;
    padding: 0px;
    display: grid;
    border: 10px solid black;
}

.gridObject {
    margin: 0;
    width: 100%;
    height: 100%;
}